useDynLib(FLicc, .registration = TRUE)

import("TMB")
import("FLCore")
import("ggplot2")
import("ggplotFL")
import("doFuture")
importFrom("progressr",
  "progressor")
importFrom("scales",
  "comma",
  "scientific")
importFrom("methods", "as")
importFrom("stats", "aggregate", "dnorm", "lm", "na.omit", "runif")
importFrom("utils", "data")


# --- Core TMB workflow ---
export(data_tmb_flicc)
export(init_tmb_flicc)
export(fiticc)
export(fiticc_core)
export(need_refit_flicc)
export(apply_sel_fixed_flicc)

# --- FLR conversion & utilities ---
export(as_FLQuants)
export(selpars_flicc)
export(m_lorenzen)
export(m_gislason)

# --- Core FLicc recursion & helpers ---
export(n_f_flicc)
export(resolve_f_input_flicc)
export(calc_Z_l)
export(nf_from_flicc)
export(flicc_refpars)

# --- Equilibrium quantities ---
export(nf_flicc)
export(cf_flicc)
export(pr_flicc)
export(spr_flicc)
export(fspr_flicc)
export(fmsy_flicc)
export(ypr_flicc)

# --- Per-recruit & BRP ---
export(prbrp_flicc)
export(rr0_bh)
export(yieldf)
export(ssbf)
export(ssbrel)


# --- FLStockLen BRP + reference points ---
export(eqstklen)
export(brp_flqs_flicc)
export(refpts_flicc)
export(yeql)
export(ssbeql)
export(spreql)
export(fcur_flicc)
export(sprcur_flicc)


# --- FLStockLen utilities ---
export(stocklen)
export(flicc_stklen)
export(ssbl)
export(fapl)
export(recl)
export(compute_catch.n)
export(fbarl)

# --- Indicators ---
export(LBIspr)

# --- Plotting ---
export(plot_lfd)
export(plot_spr)
export(plot_len)
export(plot_LBIspr)
export(plot_eqcurves)
export(plot_lbfao)
