useDynLib(FLicc)

import("TMB")
import("FLCore")
import("ggplotFL")
import("ggplot2")

importFrom("statmod", "gauss.quad")
importFrom("methods", "as")
importFrom("stats", "dnorm", "nlminb")
importFrom("utils", "data")

export(m_gislason)
export(m_lorenzen)
export(stocklen)
export(data_tmb_flicc)
export(init_tmb_flicc)
export(fiticc)
export(plot_fiticc)
export(plot_plen)
export(apply_sel_fixed_flicc)
export(upd_stklen)
export(ssbl)
export(fbarl)
